/*Reset*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Josefin";
    src: url(/assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

h1{
    font-family: "Josefin";
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

h2{
    font-family: "Josefin";
}

h3{
    font-family: "Josefin";
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

p{
    font-family: "Josefin";
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

small{
    font-family: "Josefin";
    font-size: 15px;
}

/*NavBar*/
nav{
    background: linear-gradient(15deg, #018f14, #ffffff, #fd0202);
    height: 80px;
}

label.logo{
    color: white;
    font-family: "Josefin";
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
    -webkit-text-stroke: 1px #000;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-family: "Josefin";
    font-size: 17px;
    text-transform:uppercase; 
    font-weight: bold;
    border-radius: 3px;

}

a.active,a:hover{
    background: linear-gradient(to right, #00c9ff, #92fe2D);
    transition: .5s;
    padding: 9px;
    border-radius: 20px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    -webkit-text-stroke: 1px #ffffff;
}

#check{
    display: none;
}

.container-fluid img{
    height: 500px;
    margin: auto;
}

/*Main*/

.main-content{
    background: #f8f9fa;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery img{
    width: 90%;
    height: 90%;
    margin:auto;
}

.gallery-2{
    display: grid;
    place-items: center;
}

.gallery-2 img{
    width: 90%;
    height: 90%;
    margin: auto;
}

