/*Reset*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Josefin";
    src: url(/assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

h1{
    font-family: "Josefin" , serif;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #000;
}

h2{
    font-family: "Josefin" , serif;
    color: #000;
}

h3{
    font-family: "Josefin" , serif;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #000;
}

p{
    font-family: "Josefin" , serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #000;
}

small{
    font-family: "Josefin" , serif;
    font-size: 15px;
    color: #fff;
}

/*NavBar*/
nav{
    background: linear-gradient(15deg, #018f14, #ffffff, #fd0202);
    height: 80px;
}

label.logo{
    color: #fff;
    font-family: "Josefin" , serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
    -webkit-text-stroke: 1px #000;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-family: "Josefin" , serif;
    font-size: 17px;
    text-transform:uppercase; 
    font-weight: bold;
    border-radius: 3px;

}

a.active,a:hover{
    background: linear-gradient(to right, #00c9ff, #92fe2D);
    transition: .5s;
    padding: 9px;
    border-radius: 20px;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    -webkit-text-stroke: 1px #fff;
}

#check{
    display: none;
}

.container-fluid img{
    height: 500px;
    margin: auto;
}

/*Main*/

.main-content{
    background: #f8f9fa;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery img{
    width: 90%;
    height: 90%;
    margin:auto;
}

.gallery-2{
    display: grid;
    place-items: center;
}

.gallery-2 img{
    width: 90%;
    height: 90%;
    margin: auto;
}

/*Footer*/

.footer{
    width: 100%;
    background-color: #0a141d;
}

.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}


.footer .group-1 .box-figure img{
    width: 250px;
}

.footer .group-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}


.footer .group-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.footer .group-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #0d2033;
    text-align: center;
}

.footer .group-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/*Food/Tourism & Handicraft Pages*/

/*Food/Tourism & Handicraft Gallery*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px 0;
}

.box-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-gallery:nth-child(1){
    grid-column-start: span 2;
}

.box-gallery:nth-child(4){
    grid-column-start: span 2;
}


/*Media Queries*/

/*NavBar*/
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 15px;
    }

    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width:858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:linear-gradient(15deg, #00c9ff, #92fe2D);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #ff1500;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .container-fluid img{
        height: 200px;
    }

    /*Gallery*/

    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .gallery-2{
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }

    /*Footer*/
    .footer .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    /*Food/Tourism & Handicraft Gallery*/

    .container {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }

    .box:nth-child(1) {
        grid-column-start: span 1;
    }

    .box:nth-child(4) {
        grid-column-start: span 1;
    }
}