@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #023047;
}


/*navbar*/

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #33ff00;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
    margin-top: 30px;
    cursor: pointer;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
}

/*Banner*/

.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(./assets/img/bg.png);
}

.banner-container{
    text-align: center;
    padding: 10% 0;
}

.banner h1 {
    margin: 0;
    color: #E0E0E0;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p{
    font-size: 30px;
    margin: 20px 150px;
    color: #E0E0E0;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
}

.banner span {
    color: #33ff00;
}

.top {
    padding: 100px 0;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 45px;
}