$color-text-primary: #000;
$color-text-secondary: #fff;
$color-background-primary: #018f14, #ffffff, #fd0202;
$color-background-secondary: #00c9ff, #92fe2D;
$font-family: "Josefin" , serif;
$color-background-main: #f8f9fa;
$color-footer-primary: #0a141d;
$color-footer-secondary: #efefef;
$color-hover: #ff1500;
$color-social-primary: #0d2033;
$color-social-secundary: #0a1a2a;